:root {
    --back-color: rgb(32, 32, 32);
    --contrast-color: rgb(216, 216, 216);
    --text-color: rgb(216, 216, 216);
    --link-color: #008cff;
    --link-hover-color: #e75100;
}

/* Switcher */

.switcher__radio {
    filter: invert(1);
}

.switcher__radio:checked {
    filter: invert(0);
}

.switcher__status {
    filter: invert(1);
}
