:root {
    --back-color: #73F7FF;
    --text-color: rgb(32, 32, 32);
    --text-contrast-color: rgb(216, 216, 216);
    --contrast-color: rgb(32, 32, 32);
    --link-color: #1172CB;
    --link-hover-color: #CB1111;
}

h1 {
    background-image: url('../images/header-text-texture-light.png');
}


/* Switcher */

.switcher__radio {
    filter: invert(0);
}

.switcher__radio:checked {
    filter: invert(1);
}

.switcher__status {
    filter: invert(0);
}


@media screen and (max-width: 480px) {
    body {
        font-size: 20px;
        line-height: 32px;
    }
}