:root {
    --back-color: #fff;
    --contrast-color: rgb(32, 32, 32);
    --text-color: rgb(32, 32, 32);
    --link-color: #0168bb;
    --link-hover-color: #ca4700;
}


/* Switcher */

.switcher__radio {
    filter: invert(0);
}

.switcher__radio:checked {
    filter: invert(1);
    transform: rotate(30deg);
}

.switcher__status {
    filter: invert(0);
}